<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>560209547140-th7daot439oefouuv9uf4a3njvf1k59o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.560209547140-th7daot439oefouuv9uf4a3njvf1k59o</string>
	<key>API_KEY</key>
	<string>AIzaSyCHensuj4BO5wFNaDb5FtqQIRIa8PiIzYw</string>
	<key>GCM_SENDER_ID</key>
	<string>560209547140</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tpSyntheseYskuridov</string>
	<key>PROJECT_ID</key>
	<string>tpsyntheseyskuridov</string>
	<key>STORAGE_BUCKET</key>
	<string>tpsyntheseyskuridov.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:560209547140:ios:6c0781fb827f424d67d7d1</string>
</dict>
</plist>